#Engine por defecto (SQLite)
DB_ENGINE=sqlite
DB_NAME=nombre_base_datos.db

#Engine alternativo (MySQL)
#DB_ENGINE=mysql
#DB_NAME=nombre_base_datos

#Parametros
DB_HOST=localhost
DB_PORT=3306
DB_USER=usuario_db
DB_PASSWORD=contraseña_aqui
